@use "../../global/" as g;

.p-home-image {
  // gap: 4rem;
  width: auto;
  // width: calc(100% + 16rem);
  height: 100vh;
  // padding: 0 8rem;

  @include g.media(sp) {
    width: 100%;
    padding: 0;
  }
}

.p-home-image__list {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
}

.p-home-image__item {
  width: calc(80vw + 4rem);
  height: 60vh;
  flex-shrink: 0;
  padding-right: 4rem;

  @include g.media(sp) {
    width: 32rem;
    height: auto;
  }

  & img {
    object-fit: cover;
    height: 100%;
  }

  &:first-child {
    margin-left: 8rem;
  }
  
  &:last-child {
    width: calc(80vw + 8rem);
    padding-right: 8rem;
  }
}

.p-home__title {
  position: fixed;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%) rotate(-90deg);
}

.p-home__title__h1 {
  font-size: 18rem;
  line-height: 1;
  // transform: rotate(-90deg);
}


.p-home-about {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;


  &.is-show {
    display: block;
  }
}

.js-modal-close {
  background-color: aquamarine;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: block;
}